html, body {
  margin: 0;
}

body * {
  padding: 10px 10px;
  border: solid 2px goldenrod;
}

/*
  ========================================
  HEADER
  ========================================
*/

/*
  ========================================
  MAIN - ARTICLE
  ========================================
*/

/*
  ========================================
  MAIN - SECTION
  ========================================
*/

/*
  ========================================
  NAV
  ========================================
*/

/*
  ========================================
  FOOTER
  ========================================
*/